body {
    margin: 1.25em;
}

.form-container {
    margin-bottom: 1.25em;

    .form-group {
        display: flex;
        flex-direction: row;
    }

    label {
        display: inline-block;
        width: 25vw;
        margin-bottom: 0.75rem;
        color: hsl(248, 53%, 3%);
    }

    input, select {
        padding: 0.75rem;
        border: 0.1rem solid hsl(248, 53%, 97%);
        border-radius: 0.25rem;
        margin-bottom: 0.75rem;
        width: 5vw;
        min-width: 6.5em;
        box-sizing: border-box;
        transition: border-color 0.3s;
    }
    
    input:focus, select:focus {
        border-color: hsl(248, 53%, 58%);
        outline: none;
    }

    small {
        color: red; 
        display: none;
        text-align: center;
    }
}

button {
    display: inline-block;
    border-radius: 0.25rem;
    margin-top: 0.5em;
    padding: 0.75em 1.25em;
    background-color: hsl(248, 53%, 95%);
    border: 0.1rem solid;
    transition: border 0.3s ease;
}

button:hover {
    background-color: hsl(248, 53%, 90%);
    border: 0.1rem solid hsl(248, 53%, 58%);
    transition: background-color 0.3s ease;
}

#amortizationTable {
    margin-top: 1em;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 0.0675em solid black;
}

th, td {
    padding: 0.0675em;
    text-align: center;
}
