<section id="About_Me">
    <h2>About Me</h2>
    <p>
        Hello, my name is <strong>Glenn Jenkins</strong>. I am a software developer passionate about building something creative and meaningful.
    </p>
    <p>
        I currently work at Huntington National Bank, where I use Spring Boot to build API's for commercial banking products. I have worked on
        multiple projects, including the Huntington Commercial Banking Mobile Application.
    </p>
    <p>
        I graduated from The Ohio State University in 2021 with my B.S. in Computer Science & Engineering, an Artificial Intelligence specialization, 
        a minor in business, and a minor in music. I was a member of The Best Damn Band in the Land&trade; for three years in the drumline.
    </p>
    <p>
        Outside of work, I enjoy learning new technical skills, such as front-end development and graphical design, sim racing, 
        playing drums and guitar, and spending time with my wife, Elizabeth.
    </p>
</section>