<section id="About_Me">
    <h1>About Me</h1>
    <p>
        I currently work at Huntington National Bank, where I use Spring Boot to build API's for commercial banking products. I graduated from The Ohio State University in 2021 with a B.S. in Computer Science & Engineering, where I was a member of The Best Damn Band in the Land&trade;. I live in Akron, Ohio with my wife Elizabeth.
    </p>

    <p>
        I enjoy making music. I joined the 5th grade band as a percussionist, and haven't stopped since. I enjoy playing drum set, bass guitar, and running the soundboard at my local church. <em>Not all at the same time, of course.</em>
    </p>

    <p>
        I also do triathlons. I did my first one in 2022 and my second in 2024. I signed up for the first one as motivation to stay in shape after college. It is a great combination of strength, endurance, skill, practice, technique, and mental fortitude. I hope to do an Ironman one day, but that day is not today. Or tomorrow.
    </p>

    <p>
        I have always been interested in motorsports, but that increased greatly in 2020 when I purchased my first racing simulator. It was a slippery slope, as I now have a dedicated rig for it. I actually won a contest to attend <a href="https://www.skipbarber.com/courses/1-day-racing-school/" target="_blank">Skip Barber Racing School</a> for a day, which was an incredible experience.
    </p>
</section>