<h1>Experience</h1>
<div>
    <h2>Huntington National Bank - Java Developer</h2>
    <h3 class="date">January 2022 - Present</h3>
    <p>Mostly Spring Boot development working on customer-facing RESTful API's.</p>
    <p>Also, I've created multiple dashboards in Splunk displaying results from api calls. I regularly use Insomnia to debug the API's I build, Jenkins CI/CD to build and deploy them, and Microsoft SQL Server to understand the data I interact with.</p>
    <p>I have been a peer mentor to three new hires, meeting with them weekly and assisting with general onboarding stressors. I have also assisted many developers on my team get up to speed with proprietary tools and ways of working.</p>
    <p>I participate in all scrum ceremonies and work closely with our architect and business leaders when doing releases.</p>
</div>
<div>
    <h2>The Ohio State University - Teaching Assistant</h2>
    <h3 class="date">January 2021 - December 2021</h3>
    <p>CSE 3901 - Web Applications. The course covered all facets of web development and consisted of six group projects. Students worked with Ruby on Rails, Javascript, HTML, CSS, and HTTP.</p>
    <p>I help office hours, graded projects, and communicated with professors and students. In my second semester, I crafted an organized grading system that my professor praised, and was used by TA's after I graduated.</p>
</div>
<div>
    <h2>American Electric Power - Technology Intern</h2>
    <h3 class="date">May 2021 - August 2021</h3>
    <p>I worked on the Customer Relationship Management team, and helped design brand new dashboards with Oracle Analytics Cloud, for use by customer service representatives. I spoke with representatives from all seven child companies of AEP, and created dashboards unique to all of their use cases.</p>
    <p>I learned how to gather requirements from business representatives, interact with big data, read and write SQL statements, and participate in visual and functional design decisions.</p>
</div>
<div>
    <h2>Philips Healthcare - Software Imaging Co-Op</h2>
    <h3 class="date">January 2020 - August 2020</h3>
    <p>Member on DevOps and AI-focused teams. Created PowerShell scripts to optimize nightly testing, wrote and debugged C++ code, formed XML test cases, participated in code reviews.</p>
</div>
<div>
    <h2>Wash Works Express Car Wash - Attendant</h2>
    <h3 class="date">May 2015 - May 2019</h3>
    <p>my part-time job during high school and some of college. I prepared vehicles for their wash, and towel-dried them upon completion.</p>
    <p>I answered common questions with kindness and confidence, provided simple car details, and always treated my employer, co-workers, and customers with kindness.</p>
</div>