<section id="Experience">
    <h2>Experience</h2>
    <div>
        <h3>Huntington National Bank - Java Developer</h3>
        <h4>January 2022 - Present</h4>
        <p>I did things</p>
    </div>
    <div>
        <h3>American Electric Power - Technology Intern</h3>
        <h4>May 2021 - August 2021</h4>
        <p>I did things</p>
    </div>
    <div>
        <h3>Philips Healthcare - Software Imaging Co-Op</h3>
        <h4>January 2020 - August 2020</h4>
        <p>I did things</p>
    </div>
    <div>
        <h3>The Ohio State University - Student Instructional Assistant</h3>
        <h4>January 2021 - December 2021</h4>
        <p>I did things</p>
    </div>
    <div>
        <h3>Wash Works Express Car Wash - Attendant</h3>
        <h4>May 2015 - May 2019</h4>
        <p>I did things</p>
    </div>
</section>