<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Buying vs Renting Comparison</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/homebuying.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <h1>Mortgage Calculator</h1>
    <div class="form-container">
        <!-- This is temporary, until the rent section is fully functioning. -->
        <div class="rent-container" style="display: none;">
            <h2>Rent</h2>
            <div class="form-group">
                <label for="rentPrice">Monthly Rent ($):</label>
                <input type="text" id="rentPrice" value="1200">
            </div>
            
            <div class="form-group">
                <label for="rentInsurance">Rent Insurance Rate (%):</label>
                <input type="text" id="rentInsurance" value="1.8">
            </div>
            <div class="form-group">
                <label for="rentTime">Rental Time (years):</label>
                <input type="text" id="rentTime" value="2">
            </div>
        </div>
        <div class = "buy-container">
            <h2>Buying Options</h2>
            <div class="form-group">
                <label for="homePrice">Home Purchase Price ($):</label>
                <input type="text" id="homePrice" value="400000">
                <small id="homePriceError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="downPayment">Down Payment ($):</label>
                <input type="text" id="downPayment" value="80000">
                <small id="downPaymentError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="loanTerm">Loan Term (years):</label>
                <select id="loanTerm">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30" selected>30</option>
                </select>
            </div>
            <div class="form-group">
                <label for="interestRate">Interest Rate (%):</label>
                <input type="text" id="interestRate" value="5.5">
                <small id="interestRateError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="propertyTax">Property Tax Rate (%):</label>
                <input type="text" id="propertyTax" value="1.4">
                <small id="propertyTaxError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="homeInsurance">Home Insurance Rate (%):</label>
                <input type="text" id="homeInsurance" value="0.4">
                <small id="homeInsuranceError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="pmi">PMI Rate (%):</label>
                <input type="text" id="pmi" value="0.5">
                <small id="pmiError">Invalid</small>
            </div>
            <div class="form-group">
                <label for="appreciation">Home Appreciation Rate (%):</label>
                <input type="text" id="appreciation" value="2">
                <small id="appreciationError">Invalid</small>
            </div>
        </div>
    </div>

    <button id="calculateButton" onclick="calculate()">Calculate</button>
    <button id="toggleDisplayByYearOrMonthButton" onclick="toggleYearlyMonthly()" style="display: none;">Show Yearly</button>
    <button id="toggleAmortizationTableButton" onclick="toggleTableVisibility()">Hide Table</button>

    <div id="results"></div>
    <div id="amortizationTable"></div>

    <script src="../static/js/validation/validation_homebuying.js"></script>
    <script src="../static/js/homebuying.js"></script>
</body>
</html>
